@import '../../../styles/variables';

section.debt-advisors-options-jumbotron {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding: 50px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    @media screen and (max-width: $mobile-cut-off) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    h1.options-title {
        color: $primary-color;
        font-size: 42px;
        font-weight: 700;
        margin-top: 0;
    }

    picture img.options-jumbotron-image {
        width: 377px;
        height: 282px;

        @media screen and (max-width: 420px) {
            width: 100%;
            height: auto;
        }
    }
}
