@import '../../../styles/variables';

div.email-field-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    input.email-field {
        font-size: 18px;
        width: 300px;
        padding: 10px 15px;
        margin-top: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 5px;

        @media screen and (max-width: $mobile-cut-off) {
            width: 100%;
        }
    }

    small.error {
        color: $secondary-color;
        font-size: 14px;
        font-weight: 700;
        margin-top: 10px;
    }
}
