---
import Base from "../layouts/Base.astro";
---

<Base title="About Us - Debt Advisors">
    <section class="max-w-7xl w-full mx-auto flex flex-col-reverse lg:flex-row items-center py-20 px-2">
        <div class="text-center lg:text-left">
            <h1 class="text-3xl lg:text-5xl font-bold text-daa-purple mb-4">
                About Us
            </h1>
            <p class="text-lg my-2">
                Debt Advisors of America is headquartered in San Diego, California. Debt Advisors of America is a member of the American Fair Credit Council; the International Association of Professional Debt Arbitrators; and the Better Business Bureau, with which Debt Advisors of America maintains an A+ rating.
            </p>
            <p class="text-lg my-2">
                Debt Advisors of America team members have, together, decades of experience in the debt-restructure industry, and can match you with a partner that will suit your needs.
            </p>
            <p class="text-lg my-2">
                We are committed to conducting our business honestly, ethically, and professionally.
            </p>
        </div>
        <img
            class="lg:w-96 lg:h-52 w-full h-fit mb-4 lg:mb-0"
            src="/images/about-us-boy-girl.png"
            alt="About us jumbotron image"
            loading="lazy"
            width="384"
            height="210"
        >
    </section>
    <section class="max-w-7xl w-full mx-auto py-20 px-2">
        <h2 class="text-2xl lg:text-4xl text-center font-bold text-daa-purple mb-4">
            Learn About Our Debt Program
        </h2>
        <details class="my-10">
            <summary class="text-2xl lg:text-3xl cursor-pointer text-daa-purple font-bold mb-4 text-center lg:text-left">
                What is debt restructure?
            </summary>
            <p class="text-lg text-center lg:text-left">
                Debt restructure, also known as debt settlement, is a method of dealing with unsecured debt outside of bankruptcy. Clients, on a monthly basis, put money into savings. Once sufficient funds become available, one of our licensed partners will negotiate settlements of the client's enrolled debt accounts with the client's creditors
            </p>
        </details>
        <details class="my-10">
            <summary class="text-2xl lg:text-3xl cursor-pointer text-daa-purple font-bold mb-4 text-center lg:text-left">
                Can I enroll all of my debts into debt restructure program?
            </summary>
            <p class="text-lg text-center lg:text-left">
                No, only unsecured debts are eligible for enrollment in a debt restructure program. Debt that is secured in some manner—whether by way of mortgage or security interest—does not qualify for a debt restructure program
            </p>
        </details>
        <details class="my-10">
            <summary class="text-2xl lg:text-3xl cursor-pointer text-daa-purple font-bold mb-4 text-center lg:text-left">
                Can anyone enroll into a debt restructure program?
            </summary>
            <p class="text-lg text-center lg:text-left">
                No. Only qualified individuals are accepted into a debt restructure program. One important requirement is that an individual must have suffered from some form of financial hardship. The hardship must have materially affected the individual's ability to repay debts when due
            </p>
        </details>
        <details class="my-10">
            <summary class="text-2xl lg:text-3xl cursor-pointer text-daa-purple font-bold mb-4 text-center lg:text-left">
                Why not do this myself?
            </summary>
            <p class="text-lg text-center lg:text-left">
                While you certainly may perform similar services on your own behalf, our licensed partners are able to negotiate better settlements with creditors given their expertise and experience in the industry. Debt restructure can also be a very time-consuming process. Many of our clients appreciate the assistance and time savings that our licensed partners can provide
            </p>
        </details>
        <p class="text-lg text-center lg:text-left">
            This company does not actually provide any debt settlement, debt consolidation, or other credit counseling services. We ONLY refer you to companies that want to provide some or all of those services
        </p>
    </section>
</Base>
