---
import Base from "../layouts/Base.astro";
---

<Base title="Disqualified - Debt Advisors">
    <section class="max-w-prose w-full h-[70vh] flex flex-col items-center justify-center text-center mx-auto px-2">
        <h1 class="text-3xl font-black">We're Sorry</h1>
        <p class="my-2">
            While we'd love to help, unfortunately, DAA does not currently offer loan programs that fit your criteria. Inqueries from North Dakota and South Carolina are difficult for us to fulfill. We also do not service clients with debt less than $5,000.
        </p>
        <p>Thank You!</p>
        <p>DAA Team</p>
    </section>
</Base>
