---
import Base from "../layouts/Base.astro";
---

<Base>
    <section id="reduce-your-monthly-payments-today" class="max-w-7xl w-full mx-auto flex flex-col lg:flex-row items-center justify-between py-12 px-2">
        <picture>
            <source srcset="/images/home-boy-girl.png">
            <img
                src="/images/home-boy-girl.png"
                alt="Home Page Jumbotron Image"
                loading="lazy"
                width="620"
                height="450"
            >
        </picture>
        <div class="max-w-lg w-full lg:ml-10 flex flex-col items-center lg:items-start text-center lg:text-left">
            <h1 class="text-3xl lg:text-5xl font-bold text-daa-purple lg:leading-normal leading-tight lg:mt-0 mt-10">
                Reduce Your Monthly Payments Today!
            </h1>
            <p class="my-8 text-lg">
                Have more than $5,000 of debt? See how much you can save with our debt calculator.
            </p>
            <a
                href="/stepper"
                class="bg-daa-red text-xl text-white font-bold rounded-2xl px-8 py-2"
            >
                Start - it's free!
            </a>
            <div class="flex flex-row mt-10">
                <a
                    href="https://www.bbb.org/us/ca/san-diego/profile/debt-relief-services/debt-advisors-of-america-1126-1000064078"
                    target="_blank"
                    rel="noreferrer"
                >
                    <picture>
                        <source srcset="/images/bbb.png"/>
                        <img
                            class="w-28"
                            src="/images/bbb.png"
                            alt="Better Business Bureau Logo"
                            loading="lazy"
                        />
                    </picture>
                </a>
            </div>
        </div>
    </section>
    <section id="what-we-do" class="max-w-7xl w-full mx-auto py-12 px-2 text-center flex flex-col items-center">
        <h2 class="text-2xl lg:text-4xl font-bold text-daa-purple">
            What We Do
        </h2>
        <p class="text-lg my-4">
            Debt Advisors of America helps individuals across the U.S. by 1) gathering personal information to determine a consolidation plan that will best fit your needs. Our service is a form of debt consolidation without a loan. 2) Our customized evaluations aim to help you reduce what you owe, avoid filing for bankruptcy, and finally overcome overwhelming debt.
        </p>
        <div class="flex flex-col lg:flex-row items-center justify-evenly mt-4 mb-20">
            <div class="max-w-sm w-full flex flex-col items-center lg:my-0 my-4">
                <img
                    src="/images/what-we-do-1.png"
                    alt="You Tell Us About Your Financial Situation Logo"
                    loading="lazy"
                    width="110"
                    height="110"
                >
                <strong class="text-xl text-daa-purple mt-2">
                    You Tell Us About Your Financial Situation
                </strong>
                <p class="text-lg">
                    Call us or fill out our online form to receive a free, no obligation consultation
                </p>
            </div>
            <div class="max-w-sm w-full flex flex-col items-center lg:my-0 my-4">
                <img
                    src="/images/what-we-do-2.png"
                    alt="We Tailor a Debt Relief Program That is Right For You Logo"
                    loading="lazy"
                    width="110"
                    height="110"
                >
                <strong class="text-xl text-daa-purple mt-2">
                    We Tailor a Debt Relief Program That is Right For You
                </strong>
                <p class="text-lg">
                    Programs can be modified to fit your specific needs
                </p>
            </div>
        </div>
        <a
            href="/stepper"
            class="w-fit block bg-daa-red text-xl text-white font-bold rounded-2xl px-8 py-2"
        >
            Get a Free Debt Consultation Now
        </a>
    </section>
    <section id="do-i-qualify" class="bg-daa-purple text-white py-12 px-2">
        <div class="max-w-7xl w-full mx-auto text-center lg:text-left">
            <h2 class="text-2xl lg:text-4xl font-bold text-center mb-4">
                Do I Qualify?
            </h2>
            <strong class="text-xl lg:text-2xl">
                You have over $10,000 in debt
            </strong>
            <p class="text-lg mb-8 font-light">
                This is the baseline for a third-party partner to negotiate on your behalf; it gives them greater leverage and a better chance at settling debts with your creditors.
            </p>
            <strong class="text-xl lg:text-2xl">
                You have unsecured debt
            </strong>
            <p class="text-lg mb-8 font-light">
                We only work with unsecured debts, which are debts that do not have collateral attached to them. Credit cards, medical bills and payday loans are all examples of unsecured debt. Debts like student loans and those that do have collateral attached to them like mortgages and car loans are not eligible for debt settlement.
            </p>
            <strong class="text-xl lg:text-2xl">
                You are able to make monthly payments
            </strong>
            <p class="text-lg font-light">
                The programs we recommend to you involve making deposits of an agreed upon amount into a dedicated account every month - consistent monthly deposits are crucial to your overall success.
            </p>
        </div>
    </section>
    <section id="steps" class="max-w-7xl w-full mx-auto py-32 px-2">
        <div class="flex flex-col-reverse lg:flex-row items-center justify-between text-center lg:text-left">
            <div class="max-w-lg w-full lg:mt-0 mt-10">
                <h3 class="text-2xl lg:text-4xl font-bold text-daa-purple mb-4">
                    1. Free Consultation
                </h3>
                <p class="text-lg">
                    Take a few minutes to talk with our team. Ask questions. Learn about us. Have a certified debt consultant explain debt restructure program. Together, we can discuss whether referral for a debt restructure program works for you.
                </p>
            </div>
            <picture>
                <source srcset="/images/free-consultation.png">
                <img
                    src="/images/free-consultation.png"
                    alt="Free Consultation Image"
                    loading="lazy"
                    width="328"
                    height="210"
                >
            </picture>
        </div>
        <div class="flex flex-col lg:flex-row items-center justify-between text-center lg:text-left my-32">
            <picture>
                <source srcset="/images/consider-your-options.png">
                <img
                    src="/images/consider-your-options.png"
                    alt="Free Consultation Image"
                    loading="lazy"
                    width="328"
                    height="210"
                >
            </picture>
            <div class="max-w-lg w-full lg:mt-0 mt-10">
                <h3 class="text-2xl lg:text-4xl font-bold text-daa-purple mb-4">
                    2. Consider Your Options
                </h3>
                <p class="text-lg">
                    If you are qualified, our team provides you with an estimate of how much you can save by enrolling into a debt restructure program. Once you decide to move forward, a certified debt consultant partner works to tailor a program specific to you.
                </p>
            </div>
        </div>
        <div class="flex flex-col-reverse lg:flex-row items-center justify-between text-center lg:text-left">
            <div class="max-w-lg w-full lg:mt-0 mt-10">
                <h3 class="text-2xl lg:text-4xl font-bold text-daa-purple mb-4">
                    3. Get To Work
                </h3>
                <p class="text-lg">
                    Our licensed partners have decades of experience negotiating with creditors. They put this experience to work for you, all with the goal of obtaining the best possible resolutions from your creditors.
                </p>
            </div>
            <picture>
                <source srcset="/images/get-to-work.png">
                <img
                    src="/images/get-to-work.png"
                    alt="Free Consultation Image"
                    loading="lazy"
                    width="328"
                    height="210"
                >
            </picture>
        </div>
    </section>
    <section id="call-us-now" class="bg-daa-purple text-white py-32 px-2">
        <div class="max-w-6xl w-full mx-auto text-center lg:text-left flex flex-col items-center justify-center">
            <strong class="text-2xl lg:text-3xl text-center">
                For expert debt resolution advice you can trust the licensed partners of Debt Advisors of America
            </strong>
            <a
                href="tel:+18009202365"
                class="w-fit flex flex-col items-center justify-center bg-daa-red text-xl text-white font-bold rounded-2xl px-10 py-4 mt-10"
            >
                <span class="text-2xl">
                    800-920-2365
                </span>
                <span class="text-base">
                    Call Us Now
                </span>
            </a>
        </div>
    </section>
    <section id="how-you-benefit" class="max-w-7xl w-full text-center mx-auto py-32 px-2 flex flex-col items-center">
        <h2 class="text-2xl lg:text-4xl text-daa-purple font-bold mb-4">
            Here's How You Would Benefit
        </h2>
        <div class="overflow-x-auto w-full">
            <table class="w-full h-20 table-auto border-collapse">
                <caption class="bg-daa-purple text-white py-5">
                    <strong class="text-xl">
                        If you had a total debt of...
                    </strong>
                    <br/>
                    <strong class="text-3xl">
                        $25,000
                    </strong>
                </caption>
                <thead>
                    <tr>
                        <th class="p-2.5 border"></th>
                        <th class="p-2.5 border"><strong class="uppercase">{`Monthly Payment`}</strong></th>
                        <th class="p-2.5 border"><strong class="uppercase">{`Total Repayment`}</strong></th>
                        <th class="p-2.5 border"><strong class="uppercase">{`Debt Free In`}</strong></th>
                        <th class="p-2.5 border"><strong class="uppercase">{`Interest Rate`}</strong></th>
                        <th class="p-2.5 border"><strong class="uppercase">{`1-On-1 Expert Help`}</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2.5 border">
                            <picture>
                                <source srcset="/images/debt-advisors-logo.png">
                                <img
                                    class="w-36 mx-auto"
                                    src="/images/debt-advisors-logo.png"
                                    alt="Debt Advisors Of America Regular Logo"
                                    loading="lazy"
                                    width="150"
                                    height="50"
                                >
                            </picture>
                        </td>
                        <td class="p-2.5 border text-center"><strong>$408</strong></td>
                        <td class="p-2.5 border text-center"><strong>$18,750</strong></td>
                        <td class="p-2.5 border text-center"><strong>46 months</strong></td>
                        <td class="p-2.5 border text-center"><strong>0%</strong></td>
                        <td class="p-2.5 border text-center">
                            <svg
                                class="w-6 h-6 fill-green-700 mx-auto"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                            >
                                <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2.5 border text-center"><strong class="uppercase text-daa-purple">Consolidation Loan</strong></td>
                        <td class="p-2.5 border text-center"><p>$676</p></td>
                        <td class="p-2.5 border text-center"><p>$40,580</p></td>
                        <td class="p-2.5 border text-center"><p>60 months</p></td>
                        <td class="p-2.5 border text-center"><p>21%</p></td>
                        <td class="p-2.5 border text-center">
                            <svg
                                class="w-6 h-6 fill-red-700 mx-auto"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 320 512"
                            >
                                <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2.5 border text-center"><strong class="uppercase text-daa-purple">Making Only Minimum Payments</strong></td>
                        <td class="p-2.5 border text-center"><p>$729</p></td>
                        <td class="p-2.5 border text-center"><p>$72,262</p></td>
                        <td class="p-2.5 border text-center"><p>230 months</p></td>
                        <td class="p-2.5 border text-center"><p>23%</p></td>
                        <td class="p-2.5 border text-center">
                            <svg
                                class="w-6 h-6 fill-red-700 mx-auto"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 320 512"
                            >
                                <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-lg my-2">
            * The minimum payment example is based on a credit card for individuals with fair credit, having an interest rate of 23% (rounded up to the nearest percentage point) and assumes a payment of 3% of the balance. Please note that, assuming the principal balance does not increase due to additional charges, fees, and interest, the required minimum monthly payment will decrease over time as additional minimum monthly payments are made and reduce the total balance.
        </p>
        <strong class="text-lg my-2">
            Our goals are to help you resolve your enrolled debts as quickly as possible and to get you into a plan with one of our licensed partners to negotiate settlements for less than what you owe
        </strong>
        <a
            href="/stepper"
            aria-label="Stepper page link"
            class="w-fit block bg-daa-red text-xl text-white font-bold rounded-2xl my-2 px-8 py-2"
        >
            Start Reducing Your Payments
        </a>
        <p class="text-lg my-2">
            We've helped our previous referrals achieve major savings
        </p>
    </section>
</Base>
