---
import Base from "../layouts/Base.astro";
---

<Base title="Options - Debt Advisors">
    <section id="options-jumbotron" class="max-w-7xl w-full mx-auto flex flex-col lg:flex-row items-center lg:items-start justify-between py-20 px-2">
        <h1 class="text-3xl lg:text-5xl font-bold text-daa-purple mb-10 lg:mb-0">Options</h1>
        <img
            src="/images/options-lady.png"
            alt="Options jumbotron image"
            loading="lazy"
            width="377"
            height="282"
        >
    </section>
    <section id="scenarios" class="max-w-7xl w-full mx-auto py-20 px-2 flex flex-col lg:flex-row items-center lg:items-start justify-between">
        <details class="lg:max-w-sm w-full text-center lg:text-left" open>
            <summary class="cursor-pointer list-none flex flex-col items-start">
                <strong class="text-2xl font-black text-daa-purple mb-2 mx-auto lg:mx-0">
                    Debt Restructure
                </strong>
                <p class="text-lg">
                    Debt restructure, or debt negotiation, sometimes the process of negotiating with a creditor or debt collector to pay less than the full amount owed. By paying less than the full balance you owe on an account to satisfy the debt
                </p>
            </summary>
            <div class="h-full">
                <div class="my-4">
                    <div class="px-2.5 py-2 mb-2 bg-daa-purple text-white">
                        <strong class="text-2xl font-black">Pros</strong>
                    </div>
                    <p class="text-lg">
                        Skilled strategists and negotiators are working on your behalf. Provide immediate payment relief. Be free of enrolled debt in under 4 years
                    </p>
                </div>
                <div class="my-4">
                    <div class="px-2.5 py-2 mb-2 bg-daa-red text-white">
                        <strong class="text-2xl font-black">Cons</strong>
                    </div>
                    <p class="text-lg">
                        Prevents the use of enrolled credit cards. Could adversely affect your credit worthiness. May temporarily increase the amount owed due to the accrual of fees and interest
                    </p>
                </div>
            </div>
        </details>
        <details class="lg:max-w-sm w-full lg:my-0 my-10 text-center lg:text-left" open>
            <summary class="cursor-pointer list-none flex flex-col items-start">
                <strong class="text-2xl font-black text-daa-purple mb-2 mx-auto lg:mx-0">
                    Bankruptcy
                </strong>
                <p class="text-lg">
                    A legal process. All your assets are evaluated and used to pay off your debts. Chapter 7 and Chapter 13 are most common options used by individuals circumstances,  once bankruptcy is complete, you are relieved of the debt obligations you had before filing bankruptcy
                </p>
            </summary>
            <div class="h-full">
                <div class="my-4">
                    <div class="px-2.5 py-2 mb-2 bg-daa-purple text-white">
                        <strong class="text-2xl font-black">Pros</strong>
                    </div>
                    <p class="text-lg">
                        Debt obligation could be cleared. Most creditors are barred from attempting to collect on debts. Under some circumstances, process takes only 3-6 months
                    </p>
                </div>
                <div class="my-4">
                    <div class="px-2.5 py-2 mb-2 bg-daa-red text-white">
                        <strong class="text-2xl font-black">Cons</strong>
                    </div>
                    <p class="text-lg">
                        Significant, long-term damage to credit. Loss of all credit cards. Chapter 7 can be difficult to qualify for
                    </p>
                </div>
            </div>
        </details>
        <details class="lg:max-w-sm w-full text-center lg:text-left" open>
            <summary class="cursor-pointer list-none">
                <strong class="text-2xl font-black text-daa-purple mb-2 mx-auto lg:mx-0">
                    Minimum Payments
                </strong>
                <p class="text-lg">
                    Making the minimum payments on your credit cards is a strategy that merely prolongs your debt. Minimum payments should only be used as a temporary strategy to pay off your credit card debt you are able to become debt free in a shorter period
                </p>
            </summary>
            <div class="h-full">
                <div class="my-4">
                    <div class="px-2.5 py-2 mb-2 bg-daa-purple text-white">
                        <strong class="text-2xl font-black">Pros</strong>
                    </div>
                    <p class="text-lg">
                        Consistent monthly payments. Gradually reducing debt. No negative impact on your credit
                    </p>
                </div>
                <div class="my-4">
                    <div class="px-2.5 py-2 mb-2 bg-daa-red text-white">
                        <strong class="text-2xl font-black">Cons</strong>
                    </div>
                    <p class="text-lg">
                        High monthly payments. High-interest rates. High levels of debt can hurt your credit over time. Very long pay off time frame. Could pay 2 to 3 times the amount originally charged
                    </p>
                </div>
            </div>
        </details>
    </section>
</Base>
