<footer class="bg-daa-purple text-white py-12 px-2">
    <div class="max-w-7xl w-full mx-auto">
        <div class="w-full text-center lg:text-left flex flex-col lg:flex-row lg:items-start items-center justify-between">
            <div class="max-w-sm w-full flex flex-col items-center lg:items-start lg:my-0 my-4">
                <a class="mb-4" href="/" aria-label="Home page link">
                    <img
                        src="/images/debt-advisors-white-logo.png"
                        alt="Debt advisors of america white logo"
                        loading="lazy"
                        width="240"
                        height="80"
                    >
                </a>
                <p class="text-lg">
                    We would be delighted to answer any inquiry you might have about your debt and how we can help!
                </p>
            </div>
            <div class="w-fit text-lg lg:my-0 my-4">
                <strong>
                    Office Hours
                </strong>
                <p class="mb-0 mt-4 leading-normal">
                    Monday to Friday 6:00 am to 7:00 pm PST
                </p>
                <p class="my-0 leading-normal">
                    Saturday 7:00 am to 2:00 pm PST
                </p>
            </div>
            <div class="w-fit text-lg lg:my-0 my-4">
                <strong>
                    Contact Us
                </strong>
                <div class="mt-4">
                    <a class="text-white duration-200 hover:text-daa-red" href="tel:+18009202365">
                        800-920-2365
                    </a>
                </div>
                <div>
                    <a class="text-white duration-200 hover:text-daa-red" href="mailto:info@contactdaa.com">
                        info@contactdaa.com
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full text-lg flex flex-row items-center justify-center lg:my-0 my-4">
            <a class="text-white duration-200 hover:text-daa-red" href="/terms-of-use">
                Terms of Use
            </a>
            <span class="mx-2">/</span>
            <a class="text-white duration-200 hover:text-daa-red" href="/privacy-policy">
                Privacy Policy
            </a>
        </div>
    </div>
</footer>