---
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/700.css";
import "@fontsource/montserrat/900.css";
import { Schema } from "astro-seo-schema";

import { Navigation } from "../components/Navigation";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <title>{frontmatter.title}</title>
        <meta name="description" content={frontmatter.description}>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#2B2F73">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="Debt Advisors of America">
        <meta property="og:title" content={frontmatter.title}>
        <meta property="og:description" content={frontmatter.description}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/logo32x32.png"/>
        <link rel="icon" type="image/png" sizes="180x180" href="/images/logo180x180.png"/>
        <link rel="apple-touch-icon" href="/images/logo192x192.png"/>
        <link rel="manifest" href="/manifest.json"/>
        <Schema
            item={{
                "@context": "https://schema.org",
                "@type": "LocalBusiness",
                "image": [
                    "https://www.debtadvisorsofamerica.com/images/icons/android/android-launchericon-512-512.png"
                ],
                "name": "Debt Advisors of America",
                "priceRange": "$$$",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "6863 Friars Rd Ste 101",
                    "addressLocality": "San Diego",
                    "addressRegion": "CA",
                    "postalCode": "92108-1266",
                    "addressCountry": "US"
                },
                "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": 32.7682309039158,
                    "longitude": -117.17241555980162
                },
                "telephone": "+18006320437",
                "openingHoursSpecification": [
                    {
                        "@type": "OpeningHoursSpecification",
                        "dayOfWeek": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday"
                        ],
                        "opens": "06:00",
                        "closes": "19:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "dayOfWeek": [
                            "Saturday"
                        ],
                        "opens": "07:00",
                        "closes": "14:00"
                    }
                ]
            }}
        />
    </head>
    <body class="selection:bg-daa-purple selection:text-white">
        <Navigation client:load/>
        <main role="main">
            <article class="max-w-prose w-full mx-auto px-2">
                <slot/>
            </article>
        </main>
        <Footer/>
        <!-- Google Tag Manager -->
        <script id="google-tag-manager" is:inline>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5ZWB77B');
        </script>
        <!-- End Google Tag Manager -->
        <!-- Google Tags -->
        <script id="google-tags" async src="https://www.googletagmanager.com/gtag/js?id=AW-315822587"></script>
        <script id="google-tags-custom" is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config','AW-315822587', {'allow_enhanced_conversions':true});
        </script>
        <!-- End Google Tags -->
        <!-- Facebook Pixels -->
        <script id="facebook-pixels" is:inline>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        </script>
        <!-- End Facebook Pixels -->
        <!-- Tiktok Pixel -->
        <script id="tiktok-pixel" is:inline>
            !function (w, d, t) {
                w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
                    )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};

                ttq.load('CEHM5CBC77UDF9719OR0');
                ttq.page();
            }(window, document, 'ttq');
        </script>
        <!-- End Tiktok Pixel -->
        <!-- Clickcease -->
        <script id="clickcease" is:inline>
            var script = document.createElement('script');
            script.async = true; script.type = 'text/javascript';
            var target = 'https://www.clickcease.com/monitor/stat.js';
            script.src = target;var elem = document.head;elem.appendChild(script);
        </script>
        <!-- End Clickcease -->
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZWB77B"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!-- Facebook Pixels (noscripts) -->
        <noscript><img height="1" width="1" style="display:none;visibility:hidden;" alt="Facebook Img"
        src="https://www.facebook.com/tr?id=1011657849590069&ev=PageView&noscript=1"/></noscript>
        <noscript><img height="1" width="1" style="display:none;visibility:hidden;" alt="Facebook Img"
        src="https://www.facebook.com/tr?id=5736031759798138&ev=PageView&noscript=1"/></noscript>
        <noscript><img height="1" width="1" style="display:none;visibility:hidden;" alt="Facebook Img"
        src="https://www.facebook.com/tr?id=722608354594685&ev=PageView&noscript=1"/></noscript>
        <!-- End Facebook Pixels (noscripts) -->
        <!-- Clickcease (noscript) -->
        <noscript>
            <a href="https://www.clickcease.com" rel="nofollow">
                <img src="https://monitor.clickcease.com/stats/stats.aspx" alt="ClickCease"/>
            </a>
        </noscript>
        <!-- End Clickcease (noscript) -->
        <script>
            import { initializeFacebookPixels } from "../scripts/facebook";
            import { initializeURLParams } from "../scripts/route";
            import { setCookieValues } from "../scripts/cookie";

            initializeFacebookPixels();
            initializeURLParams();
            setCookieValues();
        </script>
    </body>
</html>

<style is:global>
    html,
    body,
    * {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }

    h1,
    h2,
    h3 {
        @apply my-2 text-daa-purple;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-xl;
    }

    p {
        @apply my-4 text-lg leading-loose;
    }

    ul {
        @apply list-disc list-inside marker:text-daa-purple text-lg;
    }

    ul li {
        @apply leading-loose;
    }

    a {
        @apply text-daa-red;
    }
</style>
